/* Set background */
html {
    background-color: white;
}

/* styles for the body of the site */
body {
    width: 100%;
    background-color: white;
    padding: 0 10px 10px 10px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* styles for headline */
h1 {
    color: white;
    background-color: black;
}

/* styles for subheadline */
h2 {
    color: black;
}

/* styles for paragraph */
p {
    color: black;
}

/* styles for image */
img {
    margin: 10px auto 10px 10px;
    max-width: 100%;
    height: 35px;

}